---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ project_name }}"
  labels:
    servicenow-request: "{{ servicenow_request_number }}"
    environment: "{{ environment }}"
    team: "{{ team }}"
    managed-by: "servicenow-aap"
    project-type: "{{ project_type | default('standard') }}"
  annotations:
    openshift.io/display-name: "{{ display_name }}"
    openshift.io/description: "{{ project_description | default(description) }}"
    openshift.io/requestor: "{{ requestor }}"
    servicenow.com/request-item: "{{ servicenow_request_item | default('') }}"
    servicenow.com/sys-id: "{{ servicenow_sys_id | default('') }}"
    created-by: "servicenow-aap-integration"
    created-date: "{{ ansible_date_time.iso8601 }}"
